.appContainer{
    margin: auto;
    margin-top: 10%;
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 5%; */
    margin-bottom: 10%;
}

body{
    background-repeat: repeat;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-y: scroll;

    background: url(../resources/interfaz/fondo.png);
    /* position: absolute; */
    animation: bgMove 20s infinite linear;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
@keyframes bgMove {
    from { background-position: 0 0; }
    to { background-position: 600px -600px; }
}
::-webkit-scrollbar {
    display: none;
}
.marco{
    top: 0%;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 100;
    pointer-events: none;
}
.marco1{
    content: url("../resources/interfaz/Marco1.png");
}

.marco2{
    content: url("../resources/interfaz/Marco2.png");
}
.skinOptContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.optlabel{
    width: 46%;
    padding: 2%;
}
.frameconfimg{
    width: 100%;
}
/* IMAGE STYLES */
    [type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
    [type=radio]:checked + img {
    outline: 4px solid rgb(0, 0, 0);
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,.5)!important;
}
.swal2-popup {
    font-size: 1.2vw !important;
}
@media screen and (orientation:portrait) {
    .marco1{
        content: url("../resources/interfaz/Marco1_mov.png");
    }
    .marco2{
        content: url("../resources/interfaz/Marco2_mov.png");
    }
    .appContainer{
        margin: auto;
        margin-top: 20%;
        margin-bottom: 12%;
        width: 80%;
    }
}