.appContainer{
    margin: auto;
    margin-top: 10%;
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 5%; */
}

body{
    background-repeat: repeat;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-y: scroll;

    background: url(../resources/interfaz/fondo.png);
    /* position: absolute; */
    animation: bgMove 20s infinite linear;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
@keyframes bgMove {
    from { background-position: 0 0; }
    to { background-position: 600px -600px; }
}
::-webkit-scrollbar {
    display: none;
}
.marco{
    top: 0%;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 100;
    pointer-events: none;
}
/* .marco1{
    content: url("../resources/interfaz/Marco1.png");
}

.marco2{
    content: url("../resources/interfaz/Marco2.png");
} */