.habCont1{
    width: 100%;
}
.habCont2{
    width: 46%;
    padding-left: 1%;
    padding-right: 1%;
}
.habCont3{
    width: 33%;
}
.habTitulo{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.5vw;
}
.habDesc{
    font-size: .9vw;
}