.img-col{
    width: 30%;
    height: 70%;
}
.data-col{
    width: 70%;
    height: 70%;
}
.des-col{
    width: 100%;
    height: 20%;
}
.mainImg{
    margin: auto;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.subtext{
    text-align: center;
    font-size: 13px;
    font-style: italic;
    margin-top: 0%;
}
.mainImg:hover{
    transition: 0.2s ease-in;
    filter: drop-shadow(5px 5px 10px #000000);
}
.data-subcont{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.data-subcol{
    width: 50%;
    height: 100%;
}
hr{
    border-top: 5px solid rgba(255, 255, 255, 0.864);
    opacity: 100%;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px 1px rgba(255,255,255,1);
}
.typeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}
.typeImg{
    width: 30%;
}
.subtitulo{
    font-style: italic;
}